.mat-card .mat-card-content {
	position: relative;
	padding: 2rem;
	min-height: 360px; /* Adjust height as your need*/
}
.mat-card .company-logo {
	padding-bottom: 24px;
}
.mat-card .text {
	position: relative;
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.64);
	padding-bottom: 25px;
	margin-bottom: 35px;
}
.mat-card .user-detail {
	position: absolute;
	bottom: 25px;
	left: 32px;
	right: 0;
	margin: auto;
}
.mat-card .user-detail .user-photo {
	float: left;
	margin-right: 8px;
}
.mat-card .user-detail .user-title {
	font-size: 1rem;
	float: left;
	width: calc(100% - 56px);
}
.mat-card .user-detail .user-subtitle {
	float: left;
}

@media screen and (max-width: 1400px) {
	.mat-card .text {
		margin-bottom: 45px;
	}
}

@media screen and (max-width: 1200px) {
	.mat-card .text {
		margin-bottom: 65px;
	}
}

@media screen and (max-width: 960px) {
	.mat-card .text {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 500px) {
	.mat-card .text {
		margin-bottom: 70px;
	}
}
