<section id="intro-section" class="home-intro-section text-center">
	<div class="container" fxLayout="column" fxLayoutWrap="nowrap">
	  <div class="home-intro-subtitle">
		Mental Health Professionals
	  </div>
	  <h1 class="home-intro-title">Finding the right mental health professional can help you take control of any issue in your life.</h1>
	  <p class="home-intro-text">
		Getting help for mental, emotional, spiritual, or relationship issues can be difficult.
		We’ve pulled together the basic information you need to found a mental health professionals. Keep reading to learn who can help you.</p>
	  <div class="intro-product">
		<img src="assets/images/doctor.png" alt="Picture of a smilling doctor">
	  </div>
	</div>
  </section>
