<mat-tab-group>
	<mat-tab label="Informations">
		<mat-card class="center-card" *ngIf="center != null">
			<mat-card-header>
				<mat-card-title>{{ center.name }}</mat-card-title>
				<mat-card-subtitle i18n
					>Type: <i>{{ center.type }}</i></mat-card-subtitle
				>
			</mat-card-header>

			<img mat-card-image src="{{ center.image }}" alt="Photo of Center {{ center.name }}" />

			<mat-card-content>
				<p>
					{{ center.description }}
				</p>
			</mat-card-content>
			<mat-divider></mat-divider>
			<mat-card-actions>
				<button mat-flat-button color="accent" aria-label="button for sharing">
					<mat-icon>share</mat-icon>
				</button>
				<button
					mat-icon-button
					color="warn"
					aria-label="button for reporting a problem with this center"
					class="alignRight"
					matTooltip="report"
				>
					<mat-icon>info</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</mat-tab>
	<mat-tab label="Contacts">
		<form [formGroup]="options">
			<mat-form-field appearance="standard">
				<mat-label>Name</mat-label>
				<input matInput readonly value="{{ center?.name }}" />
			</mat-form-field>
			<div class="mat-form-field">
				<label>Type: </label>
				<mat-radio-group [formControl]="floatLabelControl" [disabled]="true">
					<mat-radio-button value="public">Public</mat-radio-button>
					<mat-radio-button value="private">Private</mat-radio-button>
				</mat-radio-group>
			</div>
			<mat-form-field appearance="legacy">
				<mat-label>Location</mat-label>
				<input matInput readonly value="{{ center?.location }}" />
				<mat-icon matSuffix>location_on</mat-icon>
			</mat-form-field>
			<mat-form-field appearance="legacy">
				<mat-label>Email</mat-label>
				<input matInput readonly value="{{ center?.email }}" />
				<mat-icon matSuffix>email</mat-icon>
			</mat-form-field>
			<mat-form-field appearance="filegacyll">
				<mat-label>Website</mat-label>
				<input matInput readonly value="{{ center?.website }}" />
				<mat-icon matSuffix>web</mat-icon>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Phone Numbers</mat-label>
				<textarea matInput readonly value="{{ center?.phoneNumbers }}"></textarea>
				<mat-icon matSuffix>phone</mat-icon>
			  </mat-form-field>
		</form>
	</mat-tab>
</mat-tab-group>
