<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666">
        <h2 i18n>Are you a medical student ? Do you want to become a super Hero?</h2>
        <p i18n>You can have a big impact in the live of people that really need the help of a great doctor like you..</p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button mat-raised-button mat-lg-button color="accent" (click)="buyWil()" i18n>Know more...</button>
      </div>
    </div>
  </div>
</section>
