<section id="intro-section" class="home-intro-section text-center">
	<div class="container" fxLayout="column" fxLayoutWrap="nowrap">
	  <div class="home-intro-subtitle">
		Mental Health Centers
	  </div>
	  <h1 class="home-intro-title">You’re not a label, or a number. That’s why effective mental health treatment should always be tailored to you.</h1>
	  <p class="home-intro-text">We are delighted to have partnered with Newcastle Premier Health to bring our unrivalled expertise and high success rate with repetitive Transcranial Magnetic Stimulation (rTMS) treatment for depression to the Newcastle area.</p>
	</div>
  </section>
<section>
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <h1 i18n>Centers</h1>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button aria-label="button for displaying in Grid mode" matTooltip="Grid Mode" (click)="changeDisplayMode(displayModeEnum.Grid)" [class.active]="displayMode === displayModeEnum.Grid" [disabled]="displayMode === displayModeEnum.Grid">
        <mat-icon>view_comfy</mat-icon>
      </button>
            <button mat-icon-button aria-label="button for displaying in List mode" matTooltip="List Mode" (click)="changeDisplayMode(displayModeEnum.List)" [class.active]="displayMode === displayModeEnum.List" [disabled]="displayMode === displayModeEnum.List">
        <mat-icon>list</mat-icon>
      </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <app-centers-grid [centers]="centers" [paginatorConfigurable]='paginatorConfigurable' [hidden]="displayMode !== displayModeEnum.Grid"> </app-centers-grid>
    <app-centers-list [centers]="centers" [paginatorConfigurable]='paginatorConfigurable' [hidden]="displayMode !== displayModeEnum.List"> </app-centers-list>
</section>
