<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2 i18n>Our Services</h2>
      <p i18n>“There is hope, even when your brain tells you there isn't.” We are here to help you to find and get it.
        It's our vocation, it's our desire, it's our goal, the most important one.
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px" >
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>wb_sunny</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light" i18n>Fight Ignorance</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description" i18n>
				Inform people about Mental diseases and reduce bad popular believes about it.
				Provide information in an appropriate form to destigmatize centers like Jamot Hospital
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted" i18n>READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>call_split</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light" i18n>Arouse Vocations</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description" i18n>Encourage young medical students to specialize in mental health. They well be able to have more impact that they can imagine.
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted" i18n>READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>accessible_forward</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light" i18n>Facilitate Access</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description" i18n>
				Help to collect informations (with security) about potential patient that help to identify their psychiatric emergencies (by scoring them)
				and Refer potential patients based on their symptoms
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted" i18n>READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>dashboard</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light" i18n>Initiate Diagnostic</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description" i18n>
				Provide List of updated Centers (privates and public)/ Professionals (Psychologue, Psychiatre) and informations to contact them
				Encourage people to engage in a mental disease diagnostic/care process
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted" i18n>READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
