<mat-toolbar color="primary">
    <span i18n='Site title | Name of the site@@site-header'><a mat-button [routerLink]="['']" >IamNotCrazyJustSick</a></span>

    <span class="fill-remaining-space"></span>

    <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="['/centers']" i18n>
                    <mat-icon>local_hospital</mat-icon> Centers </a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="['/professionals']" i18n>
                    <mat-icon>people</mat-icon> Professionals</a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" [routerLink]="['/psychatricemergencies']" i18n>
                    <mat-icon>category</mat-icon> Psychatric Emergencies  </a>
            </li>
            <li i18n>
                <a mat-button routerLinkActive="active" [routerLink]="['/about']">
                    <mat-icon>format_quote</mat-icon> Testimonies </a>
			</li>
			<li i18n>
                <a mat-button id="dashboard-topbtn" class="hometop-btn icon-button"><mat-icon>person</mat-icon><strong> My Account</strong></a>
			</li>
            <li>
                <app-language-toggle></app-language-toggle>
            </li>
        </ul>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="onToggleSidenav()" aria-label="Open menu">
            <mat-icon>menu</mat-icon>
          </button>
    </div>
</mat-toolbar>
